/* style.css */
body {
  height: 100vh;
  margin: 0;
  background: black;
  position: relative; /* Make the body a positioning context */
}

.grid2 {
  position: absolute; /* Position the grid absolutely within the body */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Set a lower z-index for the grid */
  display: grid; /* Use grid display for the container */
  grid-template-columns: repeat(auto-fill, minmax(10vh, 0fr)); /* Adjust column size as needed */ /* Adjust the gap between items as needed */
  background-color: transparent;
}



.grid__item {
  position: relative;
  z-index: 1;
  height:100%;
  width:100%;
  opacity: 0;
  transition: opacity 2s ease, background-color 0.8s ease 3s;
  background-image: radial-gradient(circle, blue 1px, transparent 2px);
  background-size: 6px 6px;
}

.grid__item:hover {
  opacity: 1;
  transition: opacity 0s ease;
  z-index: inherit;
}

.higher-z-index {
  z-index: 2; /* Set a higher z-index for elements you want above the grid */
}

@media (max-width: 600px) {
  .grid2 {
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  }
  .grid__item{
    height: 5vh;
    width: 10vw;
  }
}
@media (hover: none) {
  .grid__item.touch-hover {
    opacity: 1;
    transition: opacity 0s ease;
    z-index: inherit;
  }
}

